.login {
  position: relative;
  top: -86px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% + 86px);
  padding: 10px;
  background-image: url("/public/img/warehouse.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login .login__form {
  border: solid 2px var(--blue-color);
  border-radius: 10px;
  height: 250px;
  padding: 5px;
  background-color: transparent;
  -webkit-box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 8px 8px 10px 1px rgba(201, 201, 201, 0.47);
  background-color: rgba(245, 245, 245, 0.767);
}
.login .login__form h2 {
  text-align: center;
  line-height: 24px;
  padding-top: 10px;
  text-decoration: underline;
  font-weight: 700;
  font-size: 20px;
}
.login .login__form .submit__button {
  display: flex;
  padding-top: 10px;
  padding-right: 10px;
  justify-content: flex-end;
  width: 100%;
}
