.single__order__card__wrapper {
  min-width: 230px;
}
.order__card {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.single__order__card__wrapper .client__block {
  align-self: center;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  overflow: hidden;
}
.single__order__card__wrapper .client__block img {
  width: 100%;
}
.single__order__card__wrapper .client__block p {
  font-weight: 600;
}
.single__order__card__wrapper .invoice__block {
  flex: 0 0 35%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
}
.single__order__card__wrapper .invoice__block p {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  align-items: center;
}
.single__order__card__wrapper .invoice__block p span:first-child {
  font-weight: 600;
}
.address__container {
  display: flex;
  justify-content: space-between;
  text-align: right;
  flex-wrap: wrap;
  gap: 5px;
}
.address__container div {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  line-height: 20px;
}
.edit__address__button {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  padding: 3px;
  margin: 2px;
}
.edit__address__button:hover {
  background-color: rgb(143, 176, 199);
  cursor: pointer;
}

.address__button {
  height: 20px;
  width: 20px;
  background-color: transparent;
}
