.range__date__picker__input {
  font-size: 18px;
  padding: 0 5px 0 5px;
  height: 100%;
  border: 1px solid #3d91ff;
  position: absolute;
  left: 40px;
  width: 230px;
  align-self: center;
}
.calendarWrap {
  position: relative;
  padding-bottom: 5px;
  padding-left: 5px;
}
.range__input__wrapper {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  position: relative;
  transition: all 0.5s ease 0s;
}
.range__input__wrapper__opened {
  width: 360px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  position: relative;
  transition: all 0.5s ease 0s;
}
.range__input__wrapper__button {
  width: 40px;
  height: 40px;
  background-color: #3d91ff;
  border-color: #005b96;
  border-radius: 20px 0 0 20px;
  border: 1px;
}
.range__input__wrapper__button:hover {
  box-shadow: inset 0 0 10px #005b96;
  color: white;
}
.range__input__wrapper__buttonX {
  position: absolute;
  left: 270px;
  width: 40px;
  height: 40px;
  background-color: #3d91ff;
  border-color: #005b96;
  border: 1px;
}
.range__input__wrapper__buttonX:hover {
  box-shadow: inset 0 0 10px #005b96;
  color: white;
}
.range__input__wrapper__butto__sort {
  position: absolute;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  border-radius: 40px;
  left: 310px;
  background-color: #3d91ff;
  border-color: #005b96;
  border: 1px;
}
.range__input__wrapper__butto__sort:hover {
  box-shadow: inset 0 0 10px #005b96;
  color: white;
}
.calendarElement {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  top: 40px;
  border: 1px solid #ccc;
  overflow-x: auto;
  z-index: 2;
}
.calendarElement::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.calendarElement:hover::-webkit-scrollbar {
  height: 5px;
}
.calendarElement::-webkit-scrollbar-track {
  background-color: #3d91ff;
  border-radius: 5px;
}
.calendarElement::-webkit-scrollbar-thumb {
  background-color: #005b96;
}
