.filter__bar_container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  padding: 5px;
  background-color: #80808096;
}
.filter__bar {
  display: flex;
  justify-content: space-between;

  padding: 0 5px 0 5px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.filter__bar_closed {
  display: none;
}
.filter__bottons_container {
  align-self: flex-end;
  margin-right: 5px;
}
.filter__bottons_container button {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 60px;
}
.filter__bottons_container button:hover {
  background-color: #005b96;
  color: white;
}
@media (max-width: 1210px) {
  .filter__bar {
    justify-content: flex-start;
  }
  .filter__bottons_container {
    align-self: center;
  }
}
