.product__card__wrapper {
  width: 240px;
  margin: 5px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px hsl(240, 50%, 50%) solid;
}
.product__card__wrapper:hover {
  box-shadow: 0 0 5px hsl(240, 50%, 50%);
}
.product__card__img__container {
  /* width: 30%; */
  margin: 5px 0 5px 0;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  overflow: hidden;
}
.product__card__img__container img {
  width: 100%;
  /* width: 210px; */
  object-fit: cover;
}
.card__fields {
  padding: 5px;
  width: 100%;
}
.card__field__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 0 0 0;
}
.card__field__container h2 {
  text-align: right;
}
.card__link {
  padding: 5px 10px 5px 10px;
  color: black;
  text-decoration: none;
  border: hsl(240, 50%, 70%) 1px solid;
  border-radius: 5px;
  margin-bottom: 5px;
}

.card__link:hover {
  color: #f7f7f7;
  background-color: hsl(240, 50%, 70%);
  box-shadow: 0 0 5px hsl(240, 50%, 50%);
}
