.single__provider__wrapper {
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "card  lineChart lineChart lineChart"
    "invoices invoices products products";
  overflow: hidden;
}
.single__provider__wrapper .card {
  grid-area: card;
}
.single__provider__wrapper .lineChart {
  grid-area: lineChart;
}
.single__provider__wrapper .invoices {
  grid-area: invoices;
}

.single__provider__wrapper .products {
  grid-area: products;
}
