.checkbox__field__wrapper {
  width: 100%;
  display: flex;
}
.filter__criteria__type {
  flex-basis: 25%;
}
.options__wrapper {
  max-height: 310px;
  overflow-y: auto;
}
.options__wrapper::-webkit-scrollbar {
  width: 5px;
  /* height: 0; */
}
.options__wrapper::-webkit-scrollbar-track {
  background-color: #fe6240;
  border-radius: 5px;
  width: 5px;
  /* margin-block: 2px; */
}
.options__wrapper::-webkit-scrollbar-thumb {
  background-color: #7a2512;
  width: 5px;
}
