.checkbox__field__wrapper {
  width: 100%;
  display: flex;
}
.filter__criteria__type {
  flex-basis: 25%;
}
.options__wrapper {
  max-height: 310px;
  overflow-y: auto;
}
.options__wrapper::-webkit-scrollbar {
  width: 5px;
  /* height: 0; */
}
.options__wrapper::-webkit-scrollbar-track {
  background-color: #fe6240;
  border-radius: 5px;
  width: 5px;
  /* margin-block: 2px; */
}
.options__wrapper::-webkit-scrollbar-thumb {
  background-color: #7a2512;
  width: 5px;
}
.range__state__wrapper {
  display: flex;
  gap: 10px;
}
.state__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 160px;
}
.range__max__wrapper {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
}
.range__max__wrapper label,
.range__min__wrapper label {
  margin-bottom: 10px;
}
.range__min__wrapper {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
}
.button__wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin: 5px;
}
