.range__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 0.5em;
}
.range__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 65%;
  flex-shrink: 1;
}
.range__wrapper input {
  position: absolute;
  width: 100%;
  height: 0.5em;
  /* flex-shrink: 1; */
  -webkit-appearance: none;
  z-index: 2;
  background: transparent;
}
.range__wrapper input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  width: 1em;
  height: 1em;
  background-color: var(--blue-color);
  border: 4px solid hsl(240, 44%, 39%);
  border-radius: 50%;
  cursor: pointer;
}
.range__wrapper progress {
  height: 0.5em;
  width: 100%;
}
.range__wrapper progress::-webkit-progress-bar {
  background: var(--blue-color);
  height: 0.5em;
  border-radius: 5px;
}
.range__wrapper progress::-webkit-progress-value {
  background: hsl(240, 44%, 39%);
  border-radius: 5px;
  height: 0.5em;
}
.range__container label {
  white-space: nowrap;
  width: 30%;
  /* min-width: fit-content; */
  text-align: right;
}
