.Navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #005b96;
  position: fixed;

  z-index: 3;
}
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline;
  color: white;
}
.avatar_img {
  font-size: 1.5rem;
}
.avatar {
  border-radius: 10px;
  background-color: white;
  text-align: center;
  padding: 5px;
}
.login__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hamburger {
  display: none;
  color: white;
  border-radius: 30%;
  overflow: hidden;
}

@media (max-width: 990px) {
  .hamburger {
    display: block;
  }
}
