.add_product_form {
  display: flex;
  /* width: 40%; */
  flex-direction: column;
}
.add_product_container {
  display: flex;
  gap: 10px;
}
.add_product_select {
  font-size: 16px;
  border: 1px solid #005b96;
  border-radius: 5px;
  width: 192px;
}
.add_product_form .select_product_label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  max-width: 354px;
  /* width: 180px; */

  /* vertical-align: text-top; */
}
.add_product_form .textarea_product_label {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  justify-content: flex-start;
}
.add_product_form .textarea_product_label label {
  width: 70px;
}
#productdescriptonID {
  border: 1px solid #005b96;
  border-radius: 5px;
  width: 282px;
  padding: 4px;
}

.input_product_label {
  margin-bottom: 10px;
}

.input_product_label input {
  font-size: 16px;
  border: 1px solid #005b96;
  border-radius: 5px;
  padding-left: 4px;
}
.add_product_form_title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 0 5px 10px 5px;
}
.hidden {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.img_browse {
  background-color: white;
  height: 30px;
  width: 40px;
  cursor: pointer;
  border: 1px solid #005b96;
  border-radius: 5px;
  margin-left: 5px;
}
.img_browse:hover {
  color: rgb(0, 91, 150);
  background-color: aliceblue;
}
.img_label {
  display: flex;
  align-items: center;
}
.img_browse_button {
  background-color: white;
}
.img_name_input {
  font-size: 16px;
  border: 1px solid #005b96;
  border-radius: 5px;
  width: 175px;
  margin-left: 4px;
}

.submit_product_buton {
  background-color: #005b96;
  border-radius: 5px;
  border: 1px solid #02243a;
  width: 80px;
  padding: 5px;
  color: white;
  margin: 10px;
  align-self: center;
}
.submit_product_buton:hover {
  background-color: white;
  color: #02243a;
}
.product_add_img {
  width: 400px;
  border: 1px solid #005b96;
}
.error {
  color: red;
  font-size: 16;
}

@media (max-width: 800px) {
  .add_product_container {
    flex-direction: column;
  }
}
