.checkbox__container {
  display: flex;
  align-items: center;
  gap: 5px;

  padding: 5px;
}
.border {
  border: 1px solid var(--blue-color);
  border-radius: 5px;
}
.checkbox__container label {
  width: 100%;
  cursor: pointer;
}
.checkbox__container input {
  cursor: pointer;
}
