.chart__table__wrapper {
  display: flex;
  width: 100%;
}
.chart__table__wrapper .chart__container {
  width: 60%;
}
.chart__table__wrapper .table__container {
  width: 40%;
}
.chart__table__menu__buttons {
  display: flex;
  padding: 5px;
  gap: 50px;
  justify-content: flex-end;
}
.menu__checkboxes {
  display: flex;
  gap: 5px;
}
.chart__title {
  line-height: 24px;
  text-align: center;
  font-weight: 600;
}
