.basic__input__wrapper {
  width: 100%;
  position: relative;
}
.basic__input {
  width: 100%;
  position: relative;
  padding-left: 5px;
}
.full__border {
  border: 1px solid var(--blue-color);
  /* border-radius: 5px; */
}
.bottom__border {
  border-bottom: 1px solid var(--blue-color);
}
.bottom__border:focus {
  box-shadow: 0px 1px 0 var(--blue-color);
}
.basic__input__label {
  display: inline-block;
  line-height: 26px;
  font-weight: 600;
  /* padding-bottom: 5px; */
}
.password__eye {
  position: absolute;
  right: 15px;
  font-size: 24px;
  color: var(--blue-color);
  cursor: pointer;
}
.password__eye:hover {
  color: #005a969c;
}

.basic__input[type="number"]::-webkit-inner-spin-button,
.basic__input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.basic__input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(38%) sepia(55%) saturate(575%) hue-rotate(154deg)
    brightness(93%) contrast(89%);
}
