.item__table__wrapper {
  border: 2px solid #005b96;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(103, 136, 156, 1);
  -moz-box-shadow: 0px 0px 9px 1px rgba(103, 136, 156, 1);
  box-shadow: 0px 0px 9px 1px rgba(103, 136, 156, 1);
  width: 45%;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 20px;
  overflow: hidden;
  align-items: center;
  min-height: 450px;
  box-sizing: border-box;
}

.item__table__header {
  font-size: calc(6px + (16 - 6) * ((100vw - 320px) / (1889 - 320)));
}
.item__table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  display: block;
  overflow: auto;
}
.item__table thead {
  display: block;
  width: 100%;
  padding-bottom: 10px;
}
.item__table tbody tr {
  display: flex;
  width: 100%;
  overflow: hidden;
  min-height: 40px;
}
.item__table thead tr {
  display: flex;
  width: calc(100% - 4px);
}
.actions__cell {
  display: flex;
  align-items: left;
  gap: 5px;
  flex-wrap: wrap;
  padding: 5px 0 5px 0;
}
.item__table__details {
  padding: 3px;
  border-radius: 5px;
  border: solid 1px var(--blue-color);
}
.item__table__details:hover {
  border: none;
  background-color: var(--blue-color);
  color: white;
}
.item__table tbody {
  font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1889 - 320)));
  display: block;
  width: 100%;
  overflow: auto;
  max-height: 500px;
  padding-right: 5px;
}
.item__table__body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.item__table__wrapper:hover .item__table__body {
  padding-right: 0px;
}
.item__table__wrapper:hover .item__table__body::-webkit-scrollbar {
  width: 5px;
}
.missing__result {
  text-align: center;
  font-weight: 600;
  padding: 10px;
}
.item__table__body::-webkit-scrollbar-track {
  background-color: #fe6240;
  border-radius: 5px;
}
.item__table__body::-webkit-scrollbar-thumb {
  background-color: #7a2512;
  border-radius: 5px;
}
.item__table tr:nth-of-type(2n) {
  background-color: rgba(128, 128, 128, 0.267);
}
.item__table td,
th {
  text-align: center;
  overflow: hidden;
  padding-top: 3px;
}
.item__table tr:hover {
  background-color: var(--row-hover);
  font-weight: 600;
}
.item__table tr {
  padding-right: 5px;
  box-sizing: border-box;
  width: 100%;
}

.item__table tr td {
  word-break: break-all;
  padding-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__table th {
  white-space: wrap;
  padding-left: 4px;
  text-align: center;
}
.item__table thead {
  background-color: var(--secondary-background-color);
}
.item__table caption {
  display: block;
  background-color: var(--tertialy--backgorund-color);
  color: var(--caption-color);
  font-size: 18px;
  font-weight: 600;
}
.item__table .buttons__cell {
  display: flex;
  justify-content: center;
  gap: 5px;
}

@media (max-width: 750px) {
  .item__table__wrapper {
    width: 95%;
    margin-left: 0px;
  }
  .item__table__header {
    font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1889 - 320)));
  }
  .item__table tbody {
    font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1889 - 320)));
  }
}
