.item__table__wrapper {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  width: 45%;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 20px;
  overflow: hidden;
  align-items: center;
  min-height: 450px;
  box-sizing: border-box;
}
/* .item__table__wrapper h2 {
  text-align: center;
  font-size: calc(12px + (22 - 12) * ((100vw - 320px) / (1889 - 320)));
  padding: 4px;
}
.item__table__header tr th:last-child {
  padding-right: calc(3px + (8 - 3) * ((100vw - 320px) / (1889 - 320)));
}
.item__table table {
  width: 100%;
}
.item__table .id {
  width: 5%;
}
.item__table th,
td {
  width: 10%;
  text-align: center;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.267);
  border-collapse: collapse;
  padding-top: calc(2px + (5 - 2) * ((100vw - 320px) / (1889 - 320)));
  padding-bottom: calc(2px + (5 - 2) * ((100vw - 320px) / (1889 - 320)));
}
.item__table tr {
  width: 100%;
}
.item__table__header {
  height: 30px;

}
.item__table__header {
  display: block;
  font-size: calc(6px + (16 - 6) * ((100vw - 320px) / (1889 - 320)));
}
.item__table__body {
  display: block;

  width: 100%;
  max-height: 300px;

  overflow-y: scroll;
  padding-right: 5px;
  font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1889 - 320)));
}
.item__table__body::-webkit-scrollbar {
 
  width: 0;
  height: 0;
}
.item__table__wrapper:hover .item__table__body {
  padding-right: 0px;
}
.item__table__wrapper:hover .item__table__body::-webkit-scrollbar {
  width: 5px;
}

.item__table__body::-webkit-scrollbar-track {
  background-color: #fe6240;
  border-radius: 5px;

}
.item__table__body::-webkit-scrollbar-thumb {
  background-color: #7a2512;
  border-radius: 5px;
}
.all__item__table {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.link__to__item {
  color: black;
  font-weight: 600;
  padding: 5px;
}
.link__to__item:hover {
  background-color: #fe6240;
  color: white;
  border-radius: 5px;
}
.item__table__details {
  color: black;
  padding: 5px;
  border-radius: 10px;
}
.item__table__details:hover {
  background-color: #fe6240;
  color: white;
}
.in__waiting {
  border-radius: 5px;
  background-color: #ffaeae;
  text-align: center;
}
.in__sale {
  border-radius: 5px;
  background-color: #b4f8c8;
  text-align: center;
}
.cell {
  text-align: center;
  height: 100%;
} */
/* //// */
.item__table__header {
  /* display: block; */
  font-size: calc(6px + (16 - 6) * ((100vw - 320px) / (1889 - 320)));
}
.item__table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  display: block;
  overflow: auto;
}
.item__table thead {
  display: block;
  width: 100%;
  padding-bottom: 10px;
}
.item__table tbody tr {
  display: flex;
  width: 100%;
  overflow: hidden;
  /* height: max-content; */
  min-height: 40px;
}
.item__table thead tr {
  display: flex;
  width: calc(100% - 4px);
}
.actions__cell {
  display: flex;
  align-items: left;
  gap: 5px;
  flex-wrap: wrap;
  padding: 5px 0 5px 0;
}
.item__table tbody {
  font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1889 - 320)));
  display: block;
  width: 100%;
  overflow: auto;
  max-height: 500px;
  padding-right: 5px;
}
.item__table__body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.item__table__wrapper:hover .item__table__body {
  padding-right: 0px;
}
.item__table__wrapper:hover .item__table__body::-webkit-scrollbar {
  width: 5px;
}

.item__table__body::-webkit-scrollbar-track {
  background-color: #fe6240;
  border-radius: 5px;
}
.item__table__body::-webkit-scrollbar-thumb {
  background-color: #7a2512;
  border-radius: 5px;
}
/* .item__table tbody::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 4px;
} */
/* .item__table tbody::-webkit-scrollbar-track {
  margin-block: 5px;
  margin-inline: 3px;
  background-color: #f5f5f5;
}
.item__table tbody::-webkit-scrollbar-thumb {
  background-color: var(--secondary-background-color);
  border-radius: 4px;
} */

.item__table tr:nth-of-type(2n) {
  background-color: rgba(128, 128, 128, 0.267);
}
.item__table td,
th {
  text-align: center;
  overflow: hidden;
  padding-top: 3px;
}
.item__table tr:hover {
  background-color: var(--row-hover);
  font-weight: 600;
}
.item__table tr {
  padding-right: 5px;
  box-sizing: border-box;
  width: 100%;
}

.item__table tr td {
  word-break: break-all;
  padding-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__table th {
  white-space: wrap;
  padding-left: 4px;
  text-align: center;
}
.item__table thead {
  background-color: var(--secondary-background-color);
}
.item__table caption {
  display: block;
  background-color: var(--tertialy--backgorund-color);
  color: var(--caption-color);
  font-size: 18px;
  font-weight: 600;
}
.item__table .buttons__cell {
  display: flex;
  justify-content: center;
  gap: 5px;
}

@media (max-width: 750px) {
  .item__table__wrapper {
    width: 95%;
    margin-left: 0px;
  }
  .item__table__header {
    font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1889 - 320)));
  }
  .item__table tbody {
    font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1889 - 320)));
  }
}
