.filter__box {
  font-size: 14px;
  padding-left: 3px;
  margin-top: 5px;
  width: 152px;
  border-radius: 5px;
}
.filter__box_container {
  margin: 5px;
}

@media (max-width: 1210px) {
  .filter__box_container {
    flex: 1 1 20%;
  }
}
@media (max-width: 750px) {
  .filter__box_container {
    flex: 1 1 45%;
  }
}
