.stock__data__img {
  width: 70px;
  height: 70px;
  border: 1px solid var(--blue-color);
}
.stock__data__field {
  display: flex;
  align-items: center;
  min-width: 280px;
  justify-content: space-between;
  margin: 5px;
}
.state__holder {
  display: flex;
  justify-content: flex-end;
}
.stock__data__header {
  padding: 5px;
  border-bottom: 1px solid var(--blue-color);
}
.stock__data__p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
  margin: 5px;
}
.field__name {
  font-weight: 600;
}
.quantity__span {
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 5px;
}
.close__price__edit {
  display: none;
}
.open__price__edit {
  display: block;
}
.input__button__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stock__data__button__wrapper {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}
