.product__chart {
  border-radius: 10px;
  width: 45%;
  justify-content: space-between;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
}
@media (max-width: 750px) {
  .product__chart {
    width: 95%;
  }
}
